*{
    margin: 0;
    padding: 0;
    
}
.body{
    font-family:'Roboto';
}
.container{
  
  display: flex;
  flex-direction: column;
  
}
.header{
    background-color: #1f2937;
    display:flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right:10%;
    gap: 75px;
    padding-bottom: 75px;
 
}   
.top-pane{
    display:flex;
    justify-content: space-between;
   
}
.header-logo{
    color:#f9faf8;
    font-size: 24px;
}
.nav-bar{
    color: #e5e7eb;
    font-size:18px;
    display: flex;
    gap:25px
}

.hero-section{
    display: flex;
    gap:20px

}
.text-space{
    display: flex;
    flex:1;
    flex-direction: column;  
}
.image-placeholder{
    flex:1;
    background-color: white;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text{
     color:#f9faf8;
     font-weight: 900;
     font-size: 48px;
}
.secondary-text{
    color: #e5e7eb;
    font-size:18px;
}
.signup-button{
    margin-top: 10px;
    padding-top: 2px;
    background-color:#3882f6;
    width: fit-content;
    padding-left:2.3%;
    padding-right: 2.3%;
    border-radius: 5%;
    color: #f9faf8;
}
.footer{
    background-color: #1f2937;
    color: #e5e7eb;
    display:flex;
    justify-content: center;
}
.part2{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right:10%;
    padding-bottom: 30px;

}
.part2 .text-part{
    font-weight: 600;
    font-size: 36px;
    display: flex;
    justify-content: center;
}
.part2 .boxes {
    padding-top: 30px;
    display: flex;
    gap: 45px;
    justify-content: center;
}

/* Add box containers */
.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 150px;
    text-align: center;
}

.box1, .box2, .box3, .box4 {
    border: 3px solid #3882f6;
    height: 80px;
    width: 80px;
    border-radius: 10%;
}


.part2 .captions {
    display: none;
}

